:root {
  --white-color: #fff;
  --accent-color: #03a9f4;
  --artical-color: #b4ad9e;
  --text-color: #626262;
  --text-size: 14px;
  --heading-text-size: 30px;
  --button-text-size: 20px;
  --text-leading: 24px;
  --primary-font: 'Playfair Display', serif;
  --signature-font: 'Ubuntu', sans-serif;
}
body {
  width: 1200px;
}

/* Navigation decoration */
.navigation {
  display: flex;
  /* background-color: rgba(150, 132, 50, 0.5); */
  margin-top: 78px;
  margin-bottom: 58px;
  justify-content:center;
}
.navigation-item {
  font-size: var(--text-size);
  line-height: var(--text-leading);
  font-family: var(--primary-font);
  text-transform: uppercase;
  list-style-type: none;
  display: block;
  /* it was takken from mockup */
  width: 113px;
  height: 43px;
  padding-bottom: 31px;
  /* background-color: rgba(100, 200, 100, 0.5); */
}
/* it was takken from mockup */
.navigation-item:nth-child(1){
  /* background-color: aqua; */
  padding-right: 44px;
}
.navigation-item:nth-child(2){
  /* background-color:chartreuse; */
  padding-left: 44px;
  padding-right: 27px;
}
.navigation-item:nth-child(3){
  /* background-color:green; */
  padding-left: 27px;
  padding-right: 15px;
}
.navigation-item:nth-child(4){
  /* background-color: aqua; */
  padding-left: 15px;
  padding-right: 0px;
}
/* Link style and reaction */
.navigation-link {
  color: var(--text-color);
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

/* Main section decoration */

.main-article {
  font-family: var(--primary-font);
  font-size: var(--text-size);
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  /* background-color: rgba(120, 100, 60, 0.5); */
}
.list-articles {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.list-articles-item {
  width: 420px;
  }
.list-articles-item:not(:nth-child(2n)) 
{
  margin-right: 60px;
}
.main-article .signature {
  font-family: var(--signature-font);
  color: var(--artical-color);
  text-transform: uppercase;
}
.heading {
  /* color: var(--text-color); */
  font-size: var(--heading-text-size);
  font-weight: 400;
}
.more-info {
  font-family: var(--primary-font);
  font-size: var(--button-text-size);
  line-height: var(--text-leading);
}
