:root {
  --white-color: #fff;
  --accent-color: #03a9f4;
  --artical-color: #b4ad9e;
  --text-color: #626262;
  --text-size: 14px;
  --heading-text-size: 30px;
  --button-text-size: 20px;
  --text-leading: 24px;
  --primary-font: 'Playfair Display', serif;
  --signature-font: 'Ubuntu', sans-serif;
}
  /* Navigation decoration */
.navigation {
  display: flex;
  justify-content:center;
  padding-top: 77px;
  margin-left: auto;
  margin-right: auto;
}
.navigation-item {
  font-size: var(--text-size);
  line-height: var(--text-leading);
  font-family: var(--primary-font);
  text-transform: uppercase;
  list-style-type: none;
  
  /* it was takken from mockup */
  width: 113px;
  height: 43px;
  
}
.blog-header{
  margin-bottom:102px ;
}
/* it was takken from mockup */
.navigation-item:nth-child(1)
{
  padding-right: 44px;
}
.navigation-item:nth-child(2)
{
  padding-left: 44px;
  padding-right: 27px;
}
.navigation-item:nth-child(3)
{
  padding-left: 27px;
  padding-right: 15px;
}
.navigation-item:nth-child(4){
  padding-left: 15px;
  padding-right: 0px;
}
/* Link style and reaction */
.navigation-link {
  color: var(--text-color);
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

/* Main section decoration */

.main-article {
  font-family: var(--primary-font);
  font-size: var(--text-size);
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.list-articles {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  
}
.list-articles-item {
  width: 420px;
  margin-bottom: 134px;
}

.list-articles-item:not(:nth-child(2n)) 
{
 margin-right: 60px;
}
.list-articles-item:nth-last-child(-n+2) 
 {
 margin-bottom:59px; 
}

.main-article .signature {
  font-family: var(--signature-font);
  color: var(--artical-color);
  text-transform: uppercase;
  margin-top: 31px;
  margin-bottom: 31px;
}
.heading {
  /* color: var(--text-color); */
  font-size: var(--heading-text-size);
  font-weight: 400;
}

.list-articles-item .heading{
  margin-bottom: 42px;
}
.list-articles-item .text{
  line-height: var(--text-leading);

}
.button{
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color);
  border:1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--white-color);
  width: 165px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  font-family: var(--primary-font);
  font-size: var(--button-text-size);
  line-height: var(--text-leading);
}
.button:hover,
.button:focus{
  border-color: var(--accent-color);
  background-color:var(--accent-colorolor);
}
